/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: Gotham-bold;
  font-size: bold;
  src: url("../css/fonts/gothambold.woff");
}

@font-face {
  font-family: Gotham-normal;
  font-size: normal;
  src: url("../css/fonts/gothammedium.woff");
}

@font-face {
  font-family: Gotham-book;
  font-size: small;
  src: url("../css/fonts/gothambook.woff");
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.section-title {
  margin-top: 120px;
  text-transform: uppercase;
  font-family: Gotham-bold;
  font-size: 44px;
  color: #2c4058;
  position: relative;
}

.section-title::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 2px;
  background-color: #2c4058;
  top: -40px;
  left: calc(50% - 50px);
}

.main-button {
  font-family: Gotham-book;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #2c4058;
  font-size: 14px;
  border: 1px solid #2c4058;
  background-color: #fff;
  max-width: 190px;
  padding: 30px 10px 20px;
  text-transform: uppercase;
  -webkit-transition: .3s;
  transition: .3s;
}

.main-button:hover {
  background-color: #2c4058;
  border: 1px solid #2c4058;
  color: #fff;
}

.header__social-icon, .footer__social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  content: ' ';
  width: 40px;
  height: 40px;
  border: solid 1px #ffffff;
  border-radius: 50%;
  margin-left: 20px;
  -webkit-transition: .2s;
  transition: .2s;
}

.header__social-icon:hover, .footer__social-icon:hover {
  background-color: white;
}

.header__social-icon:hover .header__icon, .footer__social-icon:hover .header__icon {
  fill: #7e5aff;
}

.header__icon, .footer__icon {
  height: 22px;
  fill: white;
  max-width: 30px;
  -webkit-transition: .2s;
  transition: .2s;
}

.header__icon--facebook, .footer__icon--facebook {
  margin: 3px 3px 0 1px;
}

.header__icon--twitter, .footer__icon--twitter {
  height: 20px;
  margin: 3px 0 0 1px;
}

.header__icon--instagram, .footer__icon--instagram {
  margin: 5px 0 0 1px;
}

.header {
  height: 100vh;
  background: url("../images/header-back.png") no-repeat, -webkit-gradient(linear, left bottom, left top, from(#55b7ff), to(#7e5aff));
  background: url("../images/header-back.png") no-repeat, linear-gradient(to top, #55b7ff, #7e5aff);
  background-size: cover;
  padding: 50px 0;
  position: relative;
}

.header__title {
  text-transform: uppercase;
  font-family: Gotham-bold;
  font-size: 80px;
  letter-spacing: 4px;
  color: #ffffff;
}

.header__desc {
  margin-top: 38px;
  text-transform: uppercase;
  font-family: Gotham-book;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 5.4px;
  color: #ffffff;
}

.header__wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header__navigation-item-link {
  font-family: Gotham-normal;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  z-index: 100;
}

.header__navigation-item {
  padding: 0 24px;
  position: relative;
  width: auto;
  height: auto;
}

.header__navigation-item:hover::before {
  background-color: #ffffff;
}

.header__navigation-item::before {
  position: absolute;
  content: ' ';
  left: 8px;
  top: 4px;
  width: 8px;
  height: 8px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  background-color: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.header__social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header__info {
  margin-top: 50vh;
  -webkit-transform: translateY(-140px);
          transform: translateY(-140px);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__scroll-button {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 5vh;
  width: 40px;
  height: 40px;
  border: solid 1px #ffffff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: arrow-scroll 2s ease-in-out infinite;
          animation: arrow-scroll 2s ease-in-out infinite;
  -webkit-transition: .3s;
  transition: .3s;
}

.header__scroll-button:hover {
  background-color: #fff;
}

.header__scroll-button:hover .header__arrow-svg {
  fill: #7e5aff;
  -webkit-transform: scale(1.2) translateY(1px);
          transform: scale(1.2) translateY(1px);
}

@-webkit-keyframes arrow-scroll {
  0% {
    -webkit-transform: translateY(-2vh) translateX(-50%);
            transform: translateY(-2vh) translateX(-50%);
  }
  50% {
    -webkit-transform: translateY(0) translateX(-50%);
            transform: translateY(0) translateX(-50%);
  }
  100% {
    -webkit-transform: translateY(-2vh) translateX(-50%);
            transform: translateY(-2vh) translateX(-50%);
  }
}

@keyframes arrow-scroll {
  0% {
    -webkit-transform: translateY(-2vh) translateX(-50%);
            transform: translateY(-2vh) translateX(-50%);
  }
  50% {
    -webkit-transform: translateY(0) translateX(-50%);
            transform: translateY(0) translateX(-50%);
  }
  100% {
    -webkit-transform: translateY(-2vh) translateX(-50%);
            transform: translateY(-2vh) translateX(-50%);
  }
}

.header__arrow-svg {
  fill: white;
  height: 10px;
  max-width: 30px;
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.projects {
  width: 100%;
  height: 1600px;
  overflow: hidden;
}

.projects__project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 150px 0 40px;
}

.projects__small-text {
  font-family: Gotham-book;
  font-size: 22px;
}

.projects__title {
  font-family: Gotham-bold;
  font-size: 44px;
  text-align: left;
  color: #2c4058;
  text-transform: uppercase;
}

.projects__geotag {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
  text-align: left;
  color: #2c4058;
}

.projects__icon-geotag {
  -webkit-transform: translateX();
          transform: translateX();
  top: -1px;
  height: 20px;
  max-width: 20px;
  margin-right: 6px;
}

.projects__geo-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.projects__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects__image {
  width: 630px;
  height: 470px;
  position: relative;
}

.projects__image--1 {
  background: url("../images/Frame.png") no-repeat center center;
}

.projects__image--2 {
  background: url("../images/Frame2.png") no-repeat center center;
}

.projects__image-color {
  position: absolute;
  width: 1000px;
  height: 470px;
  background-color: #55b7ff;
  z-index: -99;
  top: -70px;
  left: -620px;
}

.projects__image-color--blue {
  background-color: #55b7ff;
  left: -620px;
}

.projects__image-color--violet {
  background-color: #7e5aff;
  left: 260px;
}

.projects__main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.projects__short-description {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  text-align: left;
  color: #4b5562;
}

.news {
  width: 100%;
  height: 1030px;
  background: url("../images/News-bacl.png") no-repeat center bottom, -webkit-gradient(linear, left bottom, left top, from(#3c7fd4), to(#24ccfa));
  background: url("../images/News-bacl.png") no-repeat center bottom, linear-gradient(to top, #3c7fd4, #24ccfa);
  overflow: hidden;
}

.news__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news__header {
  margin-bottom: 100px;
  color: #fff;
}

.news__header::before {
  background-color: #fff;
}

.news__block {
  position: relative;
  width: 370px;
  height: 514px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news__img {
  position: relative;
  top: 0;
  left: 0;
}

.news__info {
  padding: 0px 20px;
}

.news__caption {
  text-transform: uppercase;
  font-family: Gotham-bold;
  font-size: 22px;
  letter-spacing: normal;
  text-align: left;
  color: #2c4058;
}

.news__text {
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  text-align: left;
  color: #4b5562;
}

.news__author {
  padding: 0 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news__author-details {
  padding-left: 18px;
}

.news__author-photo {
  border-radius: 50%;
}

.news__author-name {
  margin-top: 4px;
  font-family: Gotham-book;
  font-size: 18px;
  text-align: left;
  color: #2c4058;
}

.news__date {
  margin-top: 8px;
  font-family: Gotham-book;
  font-size: 14px;
  text-align: left;
  color: #55b7ff;
}

.gallery {
  width: 100%;
  height: 900px;
  background-color: white;
}

.gallery__small-photo {
  margin-bottom: 7px;
  margin-left: 5px;
}

.gallery__see-more-button {
  margin-top: 80px;
  padding: 30px 40px 20px;
}

.gallery__wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery__photos-block {
  margin-top: 100px;
}

.map {
  width: 100%;
  height: 550px;
}

.footer {
  width: 100%;
  height: 400px;
  background: url("../images/footer-back.png") no-repeat center bottom, -webkit-gradient(linear, left bottom, left top, from(#55b7ff), to(#7e5aff));
  background: url("../images/footer-back.png") no-repeat center bottom, linear-gradient(to top, #55b7ff, #7e5aff);
  background-size: cover;
  position: relative;
}

.footer__header {
  margin-top: 100px;
}

.footer__wrapper {
  width: 100%;
}

.footer__info {
  top: -280px;
  left: calc(50% - 385px);
  position: absolute;
  width: 770px;
  height: 430px;
  -webkit-box-shadow: 0px -4px 30px 0 rgba(133, 133, 133, 0.2);
          box-shadow: 0px -4px 30px 0 rgba(133, 133, 133, 0.2);
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__form-and-contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100%;
}

.footer__main-info {
  width: 385px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 20px 60px;
  color: #2c4058;
  font-family: Gotham-book;
}

.footer__form {
  width: 385px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 20px 60px;
}

.footer__form-fields {
  font-family: Gotham-normal;
  font-size: 18px;
  border-bottom: 2px solid #2c4058;
  opacity: .7;
  padding: 0 0 20px;
  -webkit-transition: .3s;
  transition: .3s;
  color: #2c4058;
}

.footer__form-fields:focus {
  opacity: 100%;
}

.footer__submit {
  margin: 0 0 0 auto;
  min-width: 140px;
}

.footer__contact-info {
  position: relative;
}

.footer__contact-info::before {
  position: absolute;
  -webkit-transform: scale(0.028);
          transform: scale(0.028);
  display: block;
  width: 10px;
  height: 10px;
}

.footer__contact-info--geotag::before {
  content: url("../images/marker.svg");
  top: -10px;
  left: -26px;
}

.footer__contact-info--number::before {
  content: url("../images/phone.svg");
  top: -9px;
  left: -26px;
}

.footer__contact-info--mail::before {
  content: url("../images/mail.svg");
  top: -8px;
  left: -26px;
}

.footer__contact-info--hours::before {
  top: -10px;
  left: -26px;
  content: url("../images/clock.svg");
}

.footer__last-info {
  width: 770px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-top: 200px;
}

.footer__social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer__copyrights {
  font-family: Gotham-book;
  font-size: 14px;
  color: white;
  margin-top: 42px;
}
/*# sourceMappingURL=styles.css.map */