@font-face {
	font-family: Gotham-bold;
	font-size: bold;
	src: url('../css/fonts/gothambold.woff');
}

@font-face {
	font-family: Gotham-normal;
	font-size: normal;
	src: url('../css/fonts/gothammedium.woff');
}

@font-face {
	font-family: Gotham-book;
	font-size: small;
	src: url('../css/fonts/gothambook.woff');
}

* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

.section-title {
	margin-top: 120px;
	text-transform: uppercase;
	font-family: Gotham-bold;
	font-size: 44px;
	color: #2c4058;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		width: 100px;
		height: 2px;
		background-color: #2c4058;
		top: -40px;
		left: calc(50% - 50px);
	}
}

.main-button {
  	font-family: Gotham-book;
  	font-size: 14px;
  	font-weight: normal;
  	font-stretch: normal;
  	font-style: normal;
  	letter-spacing: normal;
  	text-align: center;
  	color: #2c4058;
  	font-size: 14px;
	border: 1px solid #2c4058;
	background-color: #fff;
	max-width: 190px;
	padding: 30px 10px 20px;
	text-transform: uppercase;
	transition: .3s;

	&:hover {
		background-color: #2c4058;
		border: 1px solid #2c4058;
		color: #fff;
	}
}

.header, .footer {
	&__social-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		content: ' ';
        width: 40px;
        height: 40px;
        border: solid 1px #ffffff;
        border-radius: 50%;
		margin-left: 20px;
		transition: .2s;

		&:hover {
			background-color: white;
			
			.header__icon {
				fill: #7e5aff;
			}
		}
	}

	&__icon {
		height: 22px;
		fill: white;
		max-width: 30px;
		transition: .2s;

		&--facebook {
			margin: 3px 3px 0 1px;
		}
		&--twitter {
			height: 20px;
			margin: 3px 0 0 1px;
		}
		&--instagram {
			margin: 5px 0 0 1px;
		}
	}
}
